@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* Changes below this line */

ul {
  /* getting rid of the underline */
  list-style-type: none;
}

a:link {
  /* getting rid of the dumb blue and underline link default decoration  */
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: orange;
}

a:active {
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: auto;
  padding: 25px;
}

.header .left-links {
  display: flex;
  padding: 0px;
  margin: 0px;
  gap: 50px;
}

.header .right-links {
  display: flex;
  padding: 0px;
  margin: 0px;
  gap: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  background-color: #eeeeee;
  justify-content: space-between;
  margin-top: auto;
  padding: 25px;
}

.footer .left-links {
  display: flex;
  padding: 0px;
  margin: 0px;
  gap: 50px;
}

.footer .right-links {
  display: flex;
  padding: 0px;
  margin: 0px;
  gap: 50px;
}